.header{
    background-color: rgb(114, 144, 158);
    padding: 15px 0;
}
.navbar{
    margin: 0 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: rgb(68, 68, 68);
    margin-right: 7px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(172, 192, 196);;
}
.navbar a:hover{
    background-color: gray;
    color: white;
}
.shop{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px 50px;
}

.cart{
    margin: 10px;
}
.cart h4{
    margin: 20px 10px;
}